<!--This is Second and last component created for the project-->
<div class="row mt-4">
  <!--Weather Report-->
  <div class="boxstyle">
    <div style="font-size: 1.5rem;">{{location.city}}, {{location.state}}</div>
    <div>{{current_report.current_observation.local_time_rfc822.substring(0,25)}}</div>
    <div>
      <div style="float: left; width: 50%">
        <img [src]="current_report.current_observation.icon_url" class="img-rounded" alt="Cloudy" height="80"/> <br>
        <span>{{current_report.current_observation.weather}}</span>
      </div>
      <div style="float: left; width: 50%">
        <span style="font-size:3.2rem;">  {{current_report.current_observation.temp_f }}<span style="vertical-align: super;font-size: medium;">&#8457;</span></span>
         <!--<span>{{current_report.current_observation.temp_c }} &#8451;</span>-->
      </div>
    </div>
    <div style="clear: both; padding-top: 0.5rem;">
      Feels Like <span>{{current_report.current_observation.feelslike_f }}<span>&#8457;</span> </span>
    </div>
  </div>
  <!--Forecast Report-->
  <div class="boxstyle" style="margin-left:4%">
    <label class="display-5">
      <h5>Forecast Report</h5>
    </label>
    <hr>
    <ul class="list-group">
      <li class="windborder list-group-item d-flex justify-content-between align-items-center">
        <h6>WIND SPEED(mph)</h6>
        <span class="badge badge-primary badge-pill">{{current_report.current_observation.wind_mph}}</span>
      </li>
      <li class=" textcolor list-group-item d-flex justify-content-between align-items-center">
        <h6> PRESSURE (mb)</h6>
        <span class="badge badge-primary badge-pill">{{current_report.current_observation.pressure_mb}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h6> HUMIDITY</h6>
        <span class="badge badge-primary badge-pill">{{current_report.current_observation.relative_humidity}}</span>
      </li>
    </ul>
  </div>
  <!--Hourly Report Chart-->
  <div class="boxstyle" style="margin-left:4%;width: 40%;">
    <div style="font-size: 1.5rem;">Hourly Forecast</div>
    <div class="">
      <div *ngIf="chart">
        <canvas id="canvas">{{chart}}</canvas>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
   <div *ngFor="let eachReport of hourly_report| slice:5:hourly_report.length" class="hourlybox">
     {{eachReport.temperature}} &#8457;<br>
     <img [src]="eachReport.image"/><br> {{eachReport.condition}}<br>
     {{eachReport.time}}
   </div>
</div>
