
  <div class="container offset-1 offset-xl-0 offset-lg-1 offset-md-0 offset-sm-2">
  <div class="row">
    <!--Weather Report-->
    <div class="offset-xl-1 offset-lg-1 offset-md-4 offset-sm-2 offset-xs-2 col-xl-5 col-lg-4 col-md-9 col-sm-8 col-10 mt-4 boxstyle">
       <label class="display-5">
         <h4>{{location.city}} Weather Report</h4>
       </label>
      <hr>
       <img [src]="current_report.current_observation.icon_url" class="img-rounded" alt="Cinque Terre" height="70" width="70"/>
      <label class="mt-2 text-sm-right textSizeAdjust textcolor">
           <h5>{{current_report.current_observation.local_time_rfc822.substring(0,3)}},{{current_report.current_observation.weather}}</h5>
      </label>
      <label class="textcolor row pl-5">
        <h4>{{current_report.current_observation.temp_f }} &#8457; |  {{current_report.current_observation.temp_c }} &#8451;</h4>
      </label>
      <label class="textcolor row pl-5">
        <h5>Feels Like {{current_report.current_observation.feelslike_f }} &#8457;{{current_report.current_observation.feelslike_c }} &#8451; </h5>
      </label>
    </div>
    <!--Forecast Report-->
    <div class=" offset-xl-1 offset-lg-2 offset-md-4 offset-sm-2 offset-xs-1 col-xl-5 col-lg-4 col-md-9 col-sm-8  col-10 mt-4 boxstyle">
      <label class="display-5"><h5>Forecast Report</h5></label>
      <hr>
         <ul class="list-group">
            <li class="windborder list-group-item d-flex justify-content-between align-items-center">
              <h6>WIND SPEED(mph)</h6>
              <span class="badge badge-primary badge-pill">{{current_report.current_observation.wind_mph}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <h6> PRESSURE (mb)</h6>
              <span class="badge badge-primary badge-pill">{{current_report.current_observation.pressure_mb}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <h6> HUMIDITY</h6>
              <span class="badge badge-primary badge-pill">{{current_report.current_observation.relative_humidity}}</span>
            </li>
         </ul>
    </div>
  </div>
</div>
